body, html { margin: 0; padding: 0; height: 100%; width: 100%; background: #000; overflow: hidden; touch-action: none; font-family: sans-serif; }
#game-canvas { width: 100%; height: 100%; display: none; position: absolute; z-index: 1; }

#coords-hud { position: absolute; top: 10px; left: 10px; color: white; text-shadow: 2px 2px black; z-index: 10; display: none; font-size: 14px; }

/* RE-CENTERED LOGIN BOX */
#server-box { 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
    background: rgba(15, 15, 15, 0.98); border: 2px solid #00ff41; padding: 25px; 
    width: 300px; border-radius: 15px; text-align: center; z-index: 100;
    display: flex; flex-direction: column; align-items: center;
}

input { width: 90%; padding: 12px; margin: 8px 0; background: #111; border: 1px solid #333; color: #00ff41; border-radius: 5px; outline: none; }
button { width: 95%; padding: 12px; font-weight: bold; border-radius: 6px; border: none; cursor: pointer; }
.green-btn { background: #00ff41; color: #000; }
.blue-btn { background: #0078d4; color: #fff; }

/* BEDROCK BUTTON POSITIONS */
.dpad { position: absolute; bottom: 30px; left: 30px; display: flex; flex-direction: column; align-items: center; z-index: 50; }
.dpad-mid { display: flex; gap: 5px; }
.ctrl-btn { width: 60px; height: 60px; background: rgba(255,255,255,0.1); border: 2px solid rgba(255,255,255,0.2); color: white; border-radius: 10px; }
.ctrl-btn-small { width: 45px; height: 45px; margin: 5px; background: rgba(255,255,255,0.1); border: 2px solid rgba(255,255,255,0.2); color: white; border-radius: 5px; }

.action-btns { position: absolute; bottom: 30px; right: 30px; display: flex; flex-direction: column; align-items: center; gap: 10px; z-index: 50; }
.action-circle { width: 70px; height: 70px; border-radius: 50%; background: rgba(255,255,255,0.1); border: 2px solid rgba(255,255,255,0.2); color: white; }
.jump-btn-bedrock { width: 90px; height: 90px; border-radius: 50%; background: rgba(255,255,255,0.1); border: 2px solid rgba(255,255,255,0.2); color: white; }

.hotbar { position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%); display: flex; background: rgba(0,0,0,0.5); padding: 3px; border: 2px solid #555; z-index: 50; }
.slot { width: 35px; height: 35px; border: 1px solid #777; margin: 1px; }

#crosshair { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 20px; height: 20px; z-index: 5; pointer-events: none; }
.ch-v { position: absolute; width: 2px; height: 100%; left: 9px; background: #fff; opacity: 0.7; }
.ch-h { position: absolute; width: 100%; height: 2px; top: 9px; background: #fff; opacity: 0.7; }

.active { background: rgba(255, 255, 255, 0.4) !important; }
.sprinting { border-color: #00ff41 !important; box-shadow: 0 0 10px #00ff41; }
